/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Esta sección se ocupa del overflow del texto (elipsis) */
table.scroll div
{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Configuracion del ancho de las columnas */
/* ESTO ES IMPORTANTE El ancho de la tabla debe coincidir con el total del ancho de las columnas*/

table.scroll tr th.number,
table.scroll tr td.number
{width:30px;}

table.scroll tr th.pageidentifier,
table.scroll tr td.pageidentifier
{width:255px;}

table.scroll tr th.title,
table.scroll tr td.title div
{width:150px;}

table.scroll tr th.summary,
table.scroll tr td.summary div
{width:230px;}

table.scroll tr th.filename {width:223px;}
table.scroll tr td.filename div{width:202px;}

table.scroll {width:940px;}

/* ------------------------------------------------------------------------- */
/* El 'CSS Engine' para quela tabla sea scrollable */
/* Este es el código que hace a la tabla scrollable y que cuente con una cabecera fija */

table.scroll tbody,
table.scroll thead { display: block; }

table.scroll tbody {
    height: 600px;
    overflow-y: auto;
    overflow-x: auto;
}

/* Fin del 'Engine' */
/* ------------------------------------------------------------------------- */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */