@font-face { 
    font-family: 'Awesome';
    src: url(fonts/fontawesome-webfont.ttf);
    font-weight: Normal;
}


@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Light.ttf);
    font-weight: Light;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Medium.ttf);
    font-weight: Bold;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-LightItalic.ttf);
    font-style: Italic;
}


/* PC ESCRITORIO 1600px */
/* antes PC ESCRITORIO 1440px */
/*@media (min-width: 900px) and (max-width: 1440px)*/
/*@media screen and (max-width: 1600px) and (min-width: 1281px)*/
@media (min-device-width: 1281px) and (max-device-width: 1600px)
{
	/*BODY */
	body{
		font-family: 'Roboto';
		background-color:FFFFFD;
		font-size: 1em;
		margin-left: 0em;
	}
	
	#contenedor{
		background-color: EEEFF0;
		width: 1em;
		height: 10em;
		overflow: auto;
		margin-left: 20%;
		box-shadow: 0px 10px 5px 10px E6E7E9;
		margin-top: 0.75em;
		
	}
	
	/* /BODY  */
	/* DIVS */

	div.menu_acordeon{
	 width: 100%;
	 min-height: 6%;
	 background-color: #00a0d0;
	 border-radius: 5%;
	 margin-top: 2%;
	}
	
	div.titulo{
		width: 100%;
		min-height: 6%;
		background-color: #00a0d0;
		overflow: hidden;
		border-radius: 2%;
	}

	p.tutulo{
		margin-top: 2%;
		margin-left: 2%;
		margin-bottom: 0%;
		color: auto;
	}
	
	div.info{
		width: 100%;
		height: 0%;
		background-color: white;
		overflow:scroll;
		-webkit-transition: height, 0.5s;
	}
	
	div.menu_acordeon:hover div.info{
			height: 30%;
	}
	
	label.totalmenu{
		margin-left: 2%;
		margin-top: 0%;
		margin-bottom: 3%;
		color: #9A0202;
		font: italic 20px sans-serif;
	}
	
	p.totalmenu{
		margin-left: 2%;
		margin-top: 0%;
		margin-bottom: 3%;
		color: #DB4D4D;
	}
	
	#AjaxContent{
		padding-left: 1em;
		padding-right: 1em;
	}

	#barraSuperior{
		width: 0.5em;
		height: 1.25em;
		background-color: #505050;
		position: fixed;
		z-index: 1000000;		
  		box-shadow: 0em 0em 1em #000000;
  		top: 0%;
  		margin-left: -.5%;
	}
	
	#billetes {
			float: initial;
			padding-right:25px;
			width: 60%;
			
	}
	
	#billetes table {
			width: 100%;
	}
	
	#Block {
  		position: absolute;
  		height: 100%;
  		top: 0;
  		right: 0;
  		bottom: 0;
  		left: 0;
  		content: ' ';
  		background-color: rgba(0,0,0,.85);
	}
	
	#contenedor{
		background-color: EEEFF0;
		width: 10em;
		height: 5em;
		overflow: auto;
		margin-left: 25%;
		box-shadow: 0px 10px 5px 10px E6E7E9;
		margin-top: -2%;
	}
	
	#contenido {
		text-align : justify;
		width: 1em;
		height: 1em;
		position: absolute;
		margin-top: 0.25em;
		margin-left: 0em;
	}
	
	#cheque {float: initial;}
	
	#cheque	table {	width: 100%;}
	
	#detalleefectivo {
		width: 100%;
		height: 100%;
		top: -5%;
	}
	
	#detalleefectivo table {
		width: 80%;
		margin-left: 10%;
		font-size: 125%;
		text-align: center;
	}
	
	.detallerecibo{
		font-size: 30%;
		font-color: red;
		float: left;
	}
	.detallerecibo p{
		font-size: 50%;
		font-color: red;
	}
	
	#efectivo {
		float: initial;
		padding-right:25px;
	}
	#efectivo 	table {
		width: 50%;
	}
	
	#encabezado {
		float: initial ;
		margin-right: 5%;
		margin-top: 10%;
	}
	
	#encabezado table {
		width: 80%;
	}
	
	#facturapendiente{
		font-size: 100%;
	}
	
	#facturapendiente table{
		font-size: 150%;
		width: 100%;
	}
	
	#facturapendiente p {
		font-size: 100%;
	}
	
	#formulario {
		position: fixed;
		width:50%;
		background-color: #00a0d0;
		height: 7%;
		top: 7%;
		margin: 0 auto;
		/*box-shadow: 0px 10px 5px 10px E6E7E9;*/
	}
	
	
	#monedas {float: initial;}
	
	#monedas table {width: 60%;}
	
	#noexiste {margin-top: 20%;}
	
	#tit_totales {
		width: 50%;
		font-size: 120%;
		font-color: #ffe000;
	}
	
	
	#totales {
		width: 50%;
		top: 50%;
		float:left;
	}
	
	#totales table {
		font-size: 100%;
		padding: none;
	}
	
	/* /DIVS */
	/* CLASES */
	
	.boton{
		width: 20%;
		height: 50%;
		position: absolute;
		font-size: 100%;
		margin-left: 1%;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
	}
	
	.botonBuscar{
		width: 100px;
		height: 50px;
		font-size: 100%;
		margin-left: 1%;
		margin-top: 2%;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
	}
	
	.botonsig{
		width: 5%;
		height: 50%;
		position: absolute;
		font-size: 100%;
		margin-left: 1%;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		margin-top: 1%;
	}
	
	.botonant{
		width: 5%;
		height: 50%;
		position: absolute;
		font-size: 100%;
		margin-left: 34%;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		margin-top: 1%;
	}
	
	.Boton_Editar {
		font-size: 80%;
		height: 15px;
		width: 30px;
		position: initial;
		top: 0px;
		padding: 3px 5px 3px 5px;
		color: #ffffff;
		background-color: #00a0d0;
		text-decoration: none;
	}
	
	.Boton_Eliminar {
		font-size: 80%;
		height: 15px;
		width: 30px;
		position: initial;
		top: 0px;
		padding: 3px 5px 3px 5px;
		color: #ffffff;
		background-color: #DB4D4D;
		text-decoration: none;
	}
	
	.Boton_Guardar {
		font-size: 1em;
		height: 3em;
		width: 15em;
		border-radius: 0.5em 0.5em 0.5em 0.5em;
		border: 1px solid #cccccc;
		padding: 0.5em 0.5em 0.5em 0.5em;
		color: #ffffff;
		background-color: #00a0d0;
		text-decoration: none;
	}
	
	.Boton_Imprimir {
		font-size: 100%;
		height: 1%;
		width: 17%;
		border-radius: 0.5em 0.5em 0.5em 0.5em;
		border: 1px solid #cccccc;
		padding: 10px 10px 20px 10px;
		color: #ffffff;
		background-color: #00a0d0;
		text-decoration: none;
		float: right;
	}
	
	.cajatext {
		width: 100%;
		height: 100%;
		font-size: 80%;
		text-align: right;
		background-color: transparent;
		border: none;
		readonly: readonly;
	}
	
	.checkposfechado{
		font-family: 'Awesome';
		font-size: 60%;
		content: '\f14a';
		color: #000000;
		height: 100%; 
		width: 100%; 
		text-decoration: none;
		margin-left: 0%
	}
	
	.checkposfechado1{
		font-family: 'Awesome';
		font-size: 60%;
		content: '\f096';
		color: #000000;
		height: 100%;
		width: 100%;
		text-decoration: none;
		margin-left: 0%
	}
	
	.Combo {
		font-size: 1em;  /*1em*/
		height: 2em;/*2em*/
		width: 5em;/*10em*/
		border-radius: 25px 25px 25px 25px;
		border: 3px solid #000000;
		color: #000000;
		margin-top: 0.25em;
		padding-left: 0.25em;
		margin-bottom: 0.5em;
		-moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
		background-image:url('../images/flecha_select.png');
		background-size: 10%;
		background-repeat:no-repeat;
  		background-position:right;
	}

	.FondoAzul {
		background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#ffffff), to(#bfdfff));		
	}
	
	
	.icon_editar:before{
		font-family: 'Awesome';
		font-size: 150%;
		content: '\f040';
		color: #FFFFFF;
	}
	
	.icon_eliminar:before{
		font-family: 'Awesome';
		font-size: 150%;
		content: '\f014';
		color: #FFFFFF;
	}
	
	.icon_agregar:before{
		font-family: 'Awesome';
		content: '\f0fe';
		color: #FFFFFF;
	}
	
	.icon_cancelar:before{
		font-family: 'Awesome';
		content: '\f112';
		color: #000000;
	}
	
	.icon_guardar:before{
		font-family: 'Awesome';
		content: '\f0c7';
		color: #FFFFFF;
	}
	
	.icon_enviar:before{
		font-family: 'Awesome';
		font-size: 150%;
		content: '\f046';
		color: #FFBF00	;
	}
	
	.icon_imprimir:before{
		font-family: 'Awesome';
		content: '\f02f';
		color: #FFFFFF;
	}
	
	.icon_recalculo:before{
		font-family: 'Awesome';
		content: '\f021';
		color: #FFFFFF;
	}
	
	.imagen_nuevo {
		width: 50px;
		height: 50px;
		position: fixed;
		top: 12%;
	}
	
	.imagen_guardar {
		width: 50px;
		height: 50px;
		/*position: absolute;*/
	
	}

	.linea{
		width: 50%; 
		float: left; 
		margin-left: 25%;
	}
	
	.link {position:absolute;}
	
	#logo {
		height: 15em;
		width: 17em;
		background-image: url("../images/logo.png");
		background-size: 15em;
		background-repeat: no-repeat;
		background-position: center;
	}
		
	.menu{
    	float: right; 
    	margin-top: 1%; /*0.5em*/
    	margin-right: 3%; /* -0.5em */   	
	}
	
	.menu > ul{
		float: right;
	}
	
	.menu > li{
		margin-right: -10%;/* 1em */		
		font-size: 100%; /*1em*/
		font-family: 'Roboto';
		font-weight: Bold;
		color: #ffffff;
		background-color: #505050;
		text-transform: uppercase;
		list-style: none;
		display: block;
		border: 1px solid #ffffff;
		padding: 0.5em 0.5em 0.5em 0.5em;
		border-radius: 25px 25px 25px 25px;		
	}
	
	.menu li:hover{
		background-color: #00a0d0;
	}
		
	.menu a {
		text-decoration: none;
	}
	
	.tablabilletes {
		width: 90%;
		background-color: E3EFFC;
		margin-left: 5%;
		margin-bottom: 5%;
	}
	
	.textbuscar {
		width: 80%;
		height: 6%;
		font-size: 180%;
	}
	
	.textefectivo{
		width: 100%;
		height: 90%;
		padding: 0%;
		border: none;
		background-color: transparent;
		text-align: right;
	}
	
	.textobserv{
		width: 100%;
		height: 90%;
		padding: 0%;
		border: none;
		background-color: transparent;
		text-align: left;
		font: bold;
		font-size: 100%;
	}
		
	.textbox {
		width: 15%;
		height: 50%;
		font-size: 150%;
		margin-left: 40%;
		margin-top: 1%;
	}
	
	
	.textboxencabezado {
		width: 25%;
		height: 100%;
		font-size: 80%;
	}
	
	.txt {
		width: 40%;
		height: 10%;
		font-size:100%;
		background-color: c3c9E2;
	} 
	
	.totalbilletes{
			background-color: c3c9E2;
			margin-left: 15%;
			top: 59%;
	}
	
	.ventana{
    	display:none;
    	background-color: #ffffff;
    	width: 50%; 
    	height: 60%;
    	border-radius: 25px 25px 25px 25px;
    	border: 0.25em solid #c5c5c5;
    	font-family:'Roboto';
    	color:#808080;
    	font-size:100%;
    	text-align:justify;
    	position: fixed !important;
    	left: 25%;
    	top: 5em;
    	box-shadow: 0em 0em 1em #ffffff;
    	z-index: 1000;    	
	}
		
	.vinculo {
		font-size: 120%;
		height: 3%;
		width: 15%;
		border-radius: 0.5em 0.5em 0.5em 0.5em;
		border: 1px solid #cccccc;
		padding: 5px;
		color: #ffffff;
		background-color: #00a0d0;
		text-decoration: none;
		cursor: pointer;
		top-button: 10%;
	}
	
	/* /CLASES */
}

/* DIDPOSITIVOS DESDE 1px HASTA 320px */
@media (min-device-width: 320px) and (max-device-width: 640px)
{

	body {
		font-family: 'Roboto';
		background-color:FFFFFD;
		font-size: 1em;
		margin-left: 0em;
	}

	/* DIVS */
	
	#AjaxContent{
		padding-left: 0%;
		padding-right: 0%;
		margin-top: 10%; 
		width: 100%;
	}
	
	.detallerecibo{
		font-size: 58%;
		font-color: red;
		float: left;
	}
	
	.detallerecibo p{
		font-size: 80%;
		font-color: red;
	}
	
	div.menu_acordeon{
	 width: 100%;
	 min-height: 10%;
	 background-color: #00a0d0;
	 border-radius: 5%;
	 margin-top: 2%;
	}
	
	div.titulo{
		width: 100%;
		font-size: 40%;
		min-height: 10%;
		background-color: #00a0d0;
		overflow: hidden;
		border-radius: 2%;
	}

	p.tutulo{
		margin-top: 2%;
		margin-left: 2%;
		margin-bottom: 0%;
		color: auto;
	}
	
	div.info{
		width: 100%;
		height: 0%;
		background-color: white;
		overflow:scroll;
		-webkit-transition: height, 0.5s;
	}
	
	div.menu_acordeon:hover div.info{
			height: 50%;
	}
	
	label.totalmenu{
		margin-left: 2%;
		margin-top: 0%;
		margin-bottom: 3%;
		color: #9A0202;
		font: italic 80px sans-serif;
	}
	
	p.totalmenu{
		margin-left: 2%;
		margin-top: 0%;
		margin-bottom: 3%;
		color: #DB4D4D;
	}

	#barraSuperior{
		width: 10em;
		height: 2em;
		background-color: #505050;
		position: fixed;
		z-index: 1000000;		
  		box-shadow: 0em 0em 1em #000000;
  		top: 0%;
  		margin-left: -0%;
	}
	
	#billetes {
			float: initial;
			padding-right:25px;
			width: 70%;
	}
	
	#billetes table {
			width: 100%;
			font-size: 100%;
	}
	
	#Block {
  		position: absolute;
  		height: 100%;
  		top: 0;
  		right: 0;
  		bottom: 0;
  		left: 0;
  		content: ' ';
  		background-color: rgba(0,0,0,.85);
	}
	
	#contenedor{
		background-color: EEEFF0;
		width: 100%;
		height: 100%;
		overflow: auto;
		margin-left: -0%;
		box-shadow: 0px 10px 5px 10px E6E7E9;
	}
	
	#contenido {
		text-align : justify;
		width: 100%;
		height: 100%;
		position: absolute;
		margin-top: 7%;
		margin-left: none;
	}
	
	#cheque {float: initial;}
	
	#cheque	table {	
		width: 250%;
		font-size: 110%;
		padding-right: -5%;
	}
	
	#detalleebilletes {
		width: 100%;
		height: 100%;
		top: -5%;

	}
	
	#detallebilletes table {
		width: 100%;
		font-size: 80%;
		text-align: center;
	}
	
	#detalleemonedas {
		width: 100%;
		height: 100%;
		top: -5%;

	}
	
	#detallemonedas table {
		width: 100%;
		font-size: 80%;
		text-align: center;
	}
	
	#efectivo {
		float: initial;
		padding-right:25px;
	}
	
	#efectivo 	table {
		width: 120%;
		font-size: 110%;
	}
	
	#encabezado {
		float: initial ;
		margin-right: 5%;
		margin-top: 2%;
		margin-button: 5%;
	}
	
	#encabezado table {
		font-size: 80%;
		width: 100%;
	}
	
	#facturapendiente{
		font-size: 100%;
	}
	
	#facturapendiente table{
		font-size: 200%;
		width: 150%;
	}
	
	#facturapendiente p {
		font-size: 100%;
	}
	
	#formulario {
		position: fixed;
		background-color: #00a0d0;
		width:100%;
		height: 140px;
		margin: 0 auto;
		top:140px;
	}
	
	#logo {
		height: 15em;
		width: 17em;
		background-image: url("../images/logo.png");
		background-size: 15em;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#monedas table {
		width: 70%;
		font-size: 100%;
	}
	
	#noexiste {margin-top: 20%;}
	
	#totales {
		width: 100%;
		float:left;
	}
	
	#totales table {
		font-size: 60%;
	}
	
	/* /DIVS */

	/* CLASES */
	
	.boton{
		width: 50%;
		height: 50%;
		position: absolute;
		font-size: 100%;
		margin-left: 1%;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
	}
	
	.botonsig{
		width: 10%;
		height: 80%;
		position: absolute;
		font-size: 100%;
		margin-left: 1%;
		margin-top: 25px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
	}
	
	.botonant{
		width: 10%;
		height: 80%;
		position: absolute;
		font-size: 100%;
		margin-left: 29%;
		margin-top: 25px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
	}
	
	.Boton_Editar {
		font-size: 100%;
		height: 20px;
		width: 30px;
		position: initial;
		top: 0%;
		padding: 3px 5px 3px 5px;
		color: #ffffff;
		background-color: #00a0d0;
		text-decoration: none;
	}
	
	.Boton_Eliminar {
		font-size: 100%;
		height: 20px;
		width: 50px;
		position: initial;
		top: 0%;
		padding: 3px 5px 3px 5px;
		color: #ffffff;
		background-color: #DB4D4D;
		text-decoration: none;
	}
	
	.Boton_Guardar {
		font-size: 90%;
		height: 3em;
		width: 15em;
		border-radius: 0.5em 0.5em 0.5em 0.5em;
		border: 1px solid #cccccc;
		padding: 20px 20px 20px 20px;
		color: #ffffff;
		background-color: #00a0d0;
		text-decoration: none;
	}
	
	.cajatext {
		width: 100%;
		height: 100%;
		font-size: 100%;
		text-align: right;
		background-color: transparent;
		border: none;
		readonly: readonly;
	}
	
	.Combo {
		font-size: 100%;  /*1em*/
		height: 7%;/*2em*/
		width: 60%;/*10em*/
		border-radius: 25px 25px 25px 25px;
		border: 3px solid #000000;
		color: #000000;
		margin-top: 0.25em;
		padding-left: 0.25em;
		margin-bottom: 0.5em;
		-moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
		background-image:url('../images/flecha_select.png');
		background-size: 10%;
		background-repeat:no-repeat;
  		background-position:right;
	}
	
	.Radio{
		text-decoration: none;

	}
	.check_ON{
		font-family: 'Awesome';
		font-size: 60%;
		content: '\f14a';
		color: #000000;
		height: 90%; 
		width: 90%; 
		text-decoration: none;
		margin-left: 0%
	}
	
	.check_OFF{
		font-family: 'Awesome';
		font-size: 60%;
		content: '\f096';
		color: #000000;
		height: 90%;
		width: 90%;
		text-decoration: none;
		margin-left: 0%
	}
		
	.FondoAzul {
		background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#ffffff), to(#bfdfff));		
	}
	
	
	.icon_editar:before{
		font-family: 'Awesome';
		font-size: 150%;
		content: '\f040';
		color: #FFFFFF;
	}
	
	.icon_enviar:before{
		font-family: 'Awesome';
		font-size: 150%;
		content: '\f122';
		color: #FFFFFF;
	}
	
	.icon_eliminar:before{
		font-family: 'Awesome';
		font-size: 150%;
		content: '\f014';
		color: #FFFFFF;
	}
	
	.icon_agregar:before{
		font-family: 'Awesome';
		content: '\f0fe';
		color: #FFFFFF;
	}
	
	.icon_cancelar:before{
		font-family: 'Awesome';
		content: '\f112';
		color: #000000;
	}
	
	.icon_guardar:before{
		font-family: 'Awesome';
		content: '\f0c7';
		color: #FFFFFF;
	}
	
	.imagen_nuevo {
		width: 200px;
		height: 200px;
		position: fixed;
		top: 200px;
	}
	
	.imagen_guardar {
		width: 200px;
		height: 200px;
	}
	
	.linea{
		width: 50%; 
		float: left; 
		margin-left: 25%;
	}
	
	.link {
		position:absolute;

	}
	
	.menu{
    	float: right; 
    	margin-top: 10em;
    	margin-right: 5em;   	
	}
	
	.menu > ul{
		float: right;
	}
	
	.menu > li{
		margin-right: -5%;/* 1em */
		font-size: 90%; /*1em*/
		font-family: 'Roboto';
		font-weight: Bold;
		color: #ffffff;
		background-color: #505050;
		text-transform: uppercase;
		list-style: none;
		display: block;
		border: 1px solid #ffffff;
		padding: 0.15em 0.15em 0.15em 0.15em;
		border-radius: 25px 25px 25px 25px;		
	}
	
	.menu li:hover{
		background-color: #00a0d0;
	}
		
	.menu a {
		text-decoration: none;
	}
	
	.textefectivo{
		width: 100%;
		font-size: 150%;
		height: 90%;
		padding: 0%;
		border: none;
		background-color: transparent;
		text-align: right;
	}
		
	.textbox {
		width: 20%;
		height: 80%;
		font-size: 125%;
		margin-left: 40%;
		margin-top: 25px;
	}
	
	.textbuscar {
		width: 600px;
		height: 200px
		font-size: 180%;
	}
	
	.textobserv{
		width: 100%;
		height: 90%;
		padding: 0%;
		border: none;
		background-color: transparent;
		text-align: left;
	}
	
	.textboxencabezado {
		width: 25%;
		height: 100%;
		font-size: 80%;
	}
	
	.txt {
		width: 40%;
		height: 10%;
		font-size:100%;
		background-color: c3c9E2;
	}
	
	.totalbilletes{
		background-color: c3c9E2;
		margin-left: 15%;
	}
	
	.ventana{
    	display:none;
    	background-color: #ffffff;
    	width: 97%; 
    	height: 1500px;
    	border-radius: 25px 25px 25px 25px;
    	border: 0.25em solid #c5c5c5;
    	font-family:'Roboto';
    	color:#808080;
    	font-size: 60%;
    	text-align:justify;
    	position: fixed !important;
    	top: 140px;
    	box-shadow: 0em 0em 1em #ffffff;
    	z-index: 1000;   
    	margin-left: -25%;
    	overflow:scroll; 	
	}
	
	.vinculo {
		font-size: 80%;
		height: 3%;
		width: 15%;
		border-radius: 0.5em 0.5em 0.5em 0.5em;
		border: 1px solid #cccccc;
		padding: 5px;
		color: #ffffff;
		background-color: #00a0d0;
		text-decoration: none;
		cursor: pointer;
		top-button: 10%;
	}
	
	.vinculocancelar{
		font-size: 150%;
		height: 10%;
		width: 30%;
		border-radius: 0.5em 0.5em 0.5em 0.5em;
		border: 1px solid #cccccc;
		padding: 25px;
		color: #ffffff;
		background-color: #00a0d0;
		text-decoration: none;
		cursor: pointer;
		top-button: 10%;
	}
	/* /CLASES */
}
