@font-face { 
    font-family: 'Awesome';
    src: url(fonts/fontawesome-webfont.ttf);
    font-weight: Normal;
}


@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Light.ttf);
    font-weight: Light;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Medium.ttf);
    font-weight: Bold;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-LightItalic.ttf);
    font-style: Italic;
}

body{
	font-size:1em;
	font-family: 'Roboto';
	background-color:FFFFFD;
}

	#contenedor{
		background-color: EEEFF0;
		width: 100%;
		height: 50em;
		overflow: auto;
		margin-left: -0em;
		box-shadow: 0em 1em 0.5em 1em E6E7E9;
		margin-top: 3em;
	}
	
	#contenido {
		text-align : justify;
		width: 100%;
		height: 30em;
		position: absolute;
		margin-top: 1em;
		margin-left: none;
	}
	
	#encabezado {
		float: initial ;
		margin-right: 0.5em;
		margin-top: 0.5em;
		margin-button: 0.5em;
	}
	
	#encabezado table {
		font-size: 0.75em;
		width: 100%;
	}
	
	#efectivo {
		float: left;
		padding-right: 0.5em;
		
	}
	
	#efectivo table {
		width: 30%;
		font-size: 0.75em;
	}
	
	#cheque {
		float: left;	
	}
	
	#cheque	table {	
		width: 50%;
		font-size: 0.75em;
		padding-right: 0.5em;
		float: left;
	}
	
	#transferencias{
		float: initial;
	}
	
	#transferencias table{
		width: 50%;
		font-size: 0.75em;
		padding-right: 0.5em;
	}
	
	#retencion {float: initial;}
	
	#retencion table {	
		width: 50%;
		font-size: 0.75em;
		padding-right: 0.5em;
	}
	
	#billetes {
		width: 50%;
		float: left;
	}
	#billetes table {
		width: 75%;
		font-size: .75em;
		border: 1px dashed #000;
	}
	

	#detallemonedas {
		width: 50%;
		float: right;
	}
	
	#detallemonedas table {
		width: 75%;
		font-size: 0.75em;
	}

	#logo {
		height: 5em;
		width: 10em;
		background-size: 10em;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#totales {
		width: 60%;
		clear:both;
		float: left;
	}
	
	#totales table {
		font-size: 1em;
	}
	
	/* /DIVS */

	/* CLASES */
	.gradient {
		 padding: 0.5em;
		 border:0.1mm dashed #220044;
		/* background-color: #f0f2ff;
		 background-gradient: linear #c7cdde #f0f2ff 0 1 0 0.5;*/
	}
	
	.gradientf {
		 padding: 0.5em;
		 border:0.1mm dashed #220044;
		 /* background-color: #f0f2ff;
		 background-gradient: linear #c7cdde #f0f2ff 0 1 0 0.5;*/
	}
	
	.flush {
		border:0.1mm solid #220044;
	}
	
	.titulo {
		font-weight: bold;
		color: #2163ab;
	}
	
	.codigobarras {
		padding-right: 15%; 
		float: right;
	}
	
	/* CLASES */

}

